.button {
    transition: box-shadow .3s, transform .2s, background-color 1s;

    -webkit-box-shadow: 0 0px 0px 0px black;
       -moz-box-shadow: 0 0px 0px 0px black;
            box-shadow: 0 0px 0px 0px black;
}

.button:hover {
    -webkit-transform: translateY(-1px); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
        -ms-transform: translateY(-1px); /* IE 9 */
            transform: translateY(-1px); /* IE 10, Fx 16+, Op 12.1+ */

    /*According to http://shouldiprefix.com/ it's not needed but I don't trust it */
    -webkit-box-shadow: 0 6px 10px -7px black;
       -moz-box-shadow: 0 6px 10px -7px black;
            box-shadow: 0 6px 10px -7px black;
}

.button:active {
    -webkit-transform: translateY(1px); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
        -ms-transform: translateY(1px); /* IE 9 */
            transform: translateY(1px); /* IE 10, Fx 16+, Op 12.1+ */

    /*According to http://shouldiprefix.com/ it's not needed but I don't trust it */
    -webkit-box-shadow: 0 0px 0px 0px black;
       -moz-box-shadow: 0 0px 0px 0px black;
            box-shadow: 0 0px 0px 0px black;
}

/*Header styling*/
#header {
    /*Positioning*/
    position: fixed;
    z-index: 1;
    top: 0px;
    left: -10px;

    /*Dimensions*/
    height: auto;
    width: 100%;

    padding: 10px;

    /*Colouring*/
    background-color:#8a2be2;
    color: var(--off-white);

    /*According to http://shouldiprefix.com/ it's not needed but I don't trust it */
	-webkit-box-shadow: 0 8px 10px -6px black;
	   -moz-box-shadow: 0 8px 10px -6px black;
	        box-shadow: 0 8px 10px -6px black;
}

#header h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: center;
    align-items: center;
}

#header__input-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    margin: auto;
    width: 400px;

    justify-content: center;
    align-items: center;
}

#header__input-div input[type = text], button {
    box-sizing: border-box;
    
    padding: 5px;

    border: 0.5px solid #8226d8;
    border-radius: 20px 8px 8px 20px;

    background-color: var(--off-white);
    font-size: large;
    font-weight: bold;
    color: #333;
}

#header__input-div input[type = text] {
    padding-left: 10px;

    -webkit-box-flex: 1;     /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;             /* IE 10 */
    flex: 1;

    transition: box-shadow .5s;
}

#header__input-div input[type = text]:focus {
    -webkit-box-shadow: 0 0 10px -1px darkgray;
       -moz-box-shadow: 0 0 10px -1px darkgray;
            box-shadow: 0 0 10px -1px darkgray;

    outline: none;
}

#header__input-div button {
    border-radius: 8px 20px 20px 8px;
    width: auto;

    margin-left: 2px;
}

/*Info box styling*/

#info {
    box-sizing: border-box;
    position: fixed;
    z-index: 1;

    width: 100%;
    padding: 20px;
    
    /*Positioning*/
    top: 100px;

    pointer-events: none;

}

#info__control-panel {
    position: relative;
    float:left;

    /*Dimensions*/
    width: 300px;
    height: 250px;

    border-radius: 10px;

    pointer-events: auto;
    overflow: hidden;
}

#info__control-panel h3 {
    margin: 5px 0;

    text-align: center;
    color: rgb(71, 71, 71);
}

#info h3:first-child {
    margin: 0 0 5px 0;
}

.gradient-underline {
    padding-bottom: 4px;
    position: relative;
    text-decoration: none;
}

.gradient-underline::after {
    /* Cross platform why ;( */
    background: linear-gradient(to right, transparent 0%, #333 50%, transparent 100%); 
    background: -moz-linear-gradient(to right, transparent 0%, #333 50%, transparent 100%); 

    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
 }

.variables__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.active-point__left-column {
    -webkit-box-flex: 70%;     /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 70%;         /* OLD - Firefox 19- */
    -webkit-flex: 70%;          /* Chrome */
    -ms-flex: 70%;             /* IE 10 */
    flex: 70%;    
    
    margin-left: 10px;
}

.active-point__right-column {
    -webkit-box-flex: 30%;     /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 30%;         /* OLD - Firefox 19- */
    -webkit-flex: 30%;          /* Chrome */
    -ms-flex: 30%;             /* IE 10 */
    flex: 30%;        
}

#control-panel__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;    

    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    background-color:#8a2be2;
    border-radius: 10px 10px 0px 0;

    border-bottom: 1px solid gray;
    color: whitesmoke;

    padding: 5px;

    width: 100%;
}

#control-panel__header h2 {
    margin: 0 10px;
}

#control-panel__header button {
    display: inline-block;

    border-radius: 50%;
    width: 30px;
    height: 30px;

    background-color: gray;
}

#control-panel__header button div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  
    
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

#control-panel__header h2 {
    display: inline-block;
}

#control-panel__variables {
    box-sizing: border-box;

    position:absolute;
    z-index: -1;

    padding: 20px;
    height: 210px;
    width: 100%;

    border-radius: 0px 0px 10px 10px;

    background-color: #f7f1f7;

    -webkit-box-shadow: 0 8px 10px -6px black;
    -moz-box-shadow: 0 8px 10px -6px black;
         box-shadow: 0 8px 10px -6px black;

    transition: transform 3s ease;

    -webkit-transform: translateY(-200px); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
        -ms-transform: translateY(-200px); /* IE 9 */
            transform: translateY(-200px); /* IE 10, Fx 16+, Op 12.1+ */
            
}

#control-panel__flex_basis {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  

    flex-wrap: wrap;

}

.control-panel__column {
    flex: 1 0 100%
}

/*Char boxes*/
#info__char-boxes {
    box-sizing: border-box;
    pointer-events: auto;

    box-sizing: border-box;

    border: 1px solid #80808000;
    border-radius: 5px;
    padding-top: 20px;

    transition: border-color 1s;

    margin-left: 320px;
    max-height: 150px;

    overflow-y: auto;
}

/* width */
#info__char-boxes::-webkit-scrollbar {
    width: 10px;
    margin: 3px;
  }
  
  /* Track */
#info__char-boxes::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }
  
  /* Handle */
#info__char-boxes::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Handle on hover */
#info__char-boxes::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.char-box {

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    float:left;

    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    margin-left: 20px;
    margin-bottom: 20px;

    pointer-events: auto;
}

.char-box div {
    
    height: 40px;
    width: 0px;
    line-height: 40px;
    
    border-radius: 10px;
    
    text-align: center;
    overflow: hidden;
    
    background: #f7f1f7;

    -webkit-animation: show_box ease-in-out 0.5s;
            animation: show_box ease-in-out 0.5s;

    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;

    -webkit-box-shadow: 0 8px 10px -6px black;
       -moz-box-shadow: 0 8px 10px -6px black;
            box-shadow: 0 8px 10px -6px black;

}

@keyframes show_box {
    0% {
        width: 0%;
        border-radius: 0px;
        border-left: 2px solid rgb(197, 197, 197);
        border-right: 2px solid rgb(197, 197, 197)
    }

    100% {
        width: 100%;
        border-radius: 10px;
        border-left: 1px solid whitesmoke;
        border-right: 1px solid whitesmoke;
    }
}

@-webkit-keyframes delete_box {
    0% {
        width: 100%;
        border-radius: 10px;
        border-left: 1px solid whitesmoke;
        border-right: 1px solid whitesmoke;
    }
    100% {
        width: 0%;
        border-radius: 0px;
        border-left: 2px solid gray;
        border-right: 2px solid gray;
    }

}

@keyframes delete_box {
    0% {
        width: 100%;
        border-radius: 10px;
        border-left: 1px solid whitesmoke;
        border-right: 1px solid whitesmoke;
    }
    100% {
        width: 0%;
        border-radius: 0px;
        border-left: 2px solid gray;
        border-right: 2px solid gray;
    }

}

@-webkit-keyframes delete_box {
    0% {
        width: 100%;
        border-radius: 10px;
        border-left: 1px solid whitesmoke;
        border-right: 1px solid whitesmoke;
    }
    100% {
        width: 0%;
        border-radius: 0px;
        border-left: 2px solid gray;
        border-right: 2px solid gray;
    }

}

/*Suffix Tree*/
#suffix-tree {
    width: 100vw;
    height: 100vh;
}

/*RESPONSIVE:*/

@media screen and (max-width: 800px) {

    #header h1 {
        text-align: center;
        font-size: 4vw;
    }

    #header__input-div {
        width: 95%;
    }

    #info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;

        top: unset;
        bottom: 0px;

        margin: 0;
        padding: 0;

        -webkit-box-direction: column-reverse;
        -ms-flexbox-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;

        transition: transform 3s ease;

        -webkit-transform: translateY(139px); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
            -ms-transform: translateY(139px); /* IE 9 */
                transform: translateY(139px); /* IE 10, Fx 16+, Op 12.1+ */
    }

    #info__control-panel {
        width: 100%;
        height: 180px;
        
        border-radius: 0px;
    }

    #control-panel__header {
        border-radius: 0px;
    }

    #control-panel__variables {
        padding: 0px;

        transition: transform 0s ease;

        -webkit-transform: translateY(0); /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
            -ms-transform: translateY(0); /* IE 9 */
                transform: translateY(0); /* IE 10, Fx 16+, Op 12.1+ */
                
    }

    .control-panel__column {
        -webkit-box-flex: 50%;     /* OLD - iOS 6-, Safari 3.1-6 */
        -moz-box-flex: 50%;         /* OLD - Firefox 19- */
        -webkit-flex: 50%;          /* Chrome */
        -ms-flex: 50%;             /* IE 10 */
        flex: 50%;    
    }

    #info__char-boxes {
        margin: 0;

        width: 100%;
        height: 100px;

        white-space: nowrap; /*Prevents Wrapping*/

        overflow: unset;
        overflow-x: auto;

        padding-right: 30px;
    }

    .char-box {
        display: inline-block;        

        float: none;
    }

    #info__char-boxes::-webkit-scrollbar {
        height: 10px;
        margin: 3px;
      }

}
